/* Colors: */

// idea: sort by color wheel degrees :D

$textgray: 		 hsla(0, 0%, 20%, 1);
$jet: 			 hsla(0, 0%, 20%, 1);
$halfgray: 		 hsla(0, 0%, 50%, 1);
$darkgray: 		 hsla(0, 0%, 30%, 1);
$medgray:		 hsla(0, 0%, 45%, 1);
$lightgray:		 hsla(0, 0%, 60%, 1);

// DSA Design Guide
$red: hsl(357.7,84.4%,52.4%); // #ec1f27

// KEY:
// red - DSA red