/* Fonts */

// Google:
$bungee: 'Bungee', cursive;
$playfair: 'Playfair Display', serif;

// Adobe:
$proxima-nova: proxima-nova, sans-serif;
$freight: freight-text-pro, serif;
$eaves: mrs-eaves-xl-serif, serif;
$eaves-narrow: mrs-eaves-xl-serif-narrow, serif;
$prohibition: prohibition, sans-serif;