<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">

    {% capture fulltitle %}
      {% if page.title %}
      {{ page.title | escape | append: " | Socialist Horizon" }}
      {% else %}
      {{ site.title | escape }}
      {% endif %}
    {% endcapture %}

    <title>{{ fulltitle }}</title>
    <meta name="author" content="Katherine Donnally">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="socialism, essays, writing, Marx, Marxism, politics">
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">
    <!-- fonts: -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Nanum+Myeongjo:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/tdx0syp.css">
    <!-- css: -->
    <link rel="stylesheet" href="{{ 'assets/css/style.css' | relative_url }}" type="text/css">
</head>