.blog__page-title {
	margin: 0 4.167%;
	padding-top: 3em;
	@media screen and (min-width: 425px) {
		margin: 0 8.33%;
	}
}

.blog__post-list {
	margin: 0 4.167%;
	@media screen and (min-width: 425px) {
		margin: 0 8.33%;
	}
}

.blog-posts__post {

}

.blog-post__title {

}

.blog-post__author {

}

.blog-post__date {

}

.blog-post__tags {

}

.post-meta__tags {
	list-style-type: none;
}

.post-meta__tag {

}

.blog-post__read-more {

}

.post-read__excerpt {

}

.post-read__more {

}