.blog__page-title {
	margin: 0 4.167%;
	padding-top: 2rem;
	font-family: $bungee;
	font-size: 3.5rem;
	div {
		border-bottom: 4px solid black;
		line-height: 2;

	}
	@media screen and (min-width: 425px) {
		margin: 0 auto;
		padding: 0 8.33%;
		max-width: 800px;
	}
}

.blog__post-list {
	margin: 0 4.167%;
	padding-bottom: 3em;
	@media screen and (min-width: 425px) {
		margin: 0 auto;
		padding: 0 8.33%;
		padding-bottom: 3em;
		max-width: 800px;
	}
}

.blog-posts__post {
	border-bottom: 1px solid hsla(0, 0, 0%, .7);
}

.blog-post__title {
	font-family: $prohibition;
	a {
		color: black;
		text-decoration: none;

		&:hover, &:focus {

		}
	}
}

.blog-post__author {

}

.blog-post__date {

}

.blog-post__tags {

}

.post-meta__tags {
	list-style-type: none;
}

.post-meta__tag {

}

.blog-post__read-more {

}

.post-read__excerpt {

}

a.post-read__more {
	display: inline-block;
	padding: 1em 0;
	color: red;
	text-decoration: none;
}