.footer {
	height: 50vh;
	width: 100%;
	background-color: black;
}

.footer__content-wrapper {
	display: grid;
}

.footer__link--name {

}

.footer__link-wrapper {

}

.footer__link--about {

}

.footer__link--blog {

}