.top-menu-wrapper {
	position: fixed;
	display: flex;
	justify-content: space-between;
	width: calc(100vw - 2em);
	margin: 0;
	padding: 1em 0em;
	background-color: hsla(0, 0, 0, .85);
	a {
		padding: 0 1em;
		font-family: 'Bungee', cursive;
		font-weight: 700;
		line-height: 1;
		text-decoration: none;
		text-transform: uppercase;
		transition: color .3s;
	}
	@media screen and (min-width: 600px) {
		width: calc(100vw - 4em);
		padding: 1em 2em;
	}
}

.top-menu__title {
	a {
		color: white;
		transition: color .3s;
		&:hover, &:focus, &:active {
			color: red;
		}
	}
}

.top-menu__list {
	display: flex;
	list-style-type: none;
	margin: 0;
	li {
		a {
			color: red;
			transition: color .3s;
			&:hover, &:focus, &:active {
				color: white;
			}
		}
	}
}