.post__metadata {
	margin: 0 4.167%;
	padding-top: 3em;
	@media screen and (min-width: 425px) {
		margin: 0 8.33%;
	}
}

.post-meta__back {
	text-decoration: none;
	color: black;
	transition: color .3s;
	&:hover, &:focus {
		color: red;
	}
}

.post-meta__title {
	font-family: $prohibition;
	font-size: 2.5rem;
}

.post-meta__author-date-wrapper {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	div.divider {
		display: none;
	}
	@media screen and (min-width: 600px) {
		flex-flow: row nowrap;
		align-items: center;
		div.divider {
			display: initial;
			padding: 0 1em;
		}
	}
}

.blog-post__author {
	margin: 0;
	@media screen and (min-width: 600px) {
	//	padding-right: 1em;
	}
}

.post-meta__date {
	margin: 0;
}

.post-meta__tags {
	display: flex;
	align-items: center;
}

.post-meta__tags-list {
	display: flex;
	flex-flow: row wrap;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.post-meta__tag {
	margin: 0 .5em;
	margin-top: .5em;
	padding: .5em 1em;
	color: red;
	border: 2px solid red;
	white-space: nowrap;
	&:first-of-type {
		margin-left: 0;
	}
}

.post__content {
	margin: 0 4.167%;
	padding-bottom: 3em;
	padding-top: 1.5em;
	font-family: $eaves-narrow;
	line-height: 1.5;
	@media screen and (min-width: 425px) {
		margin: 0 8.33%;
	}
	h2 {
		font-family: $prohibition;
	}
}