.post__metadata {
	margin: 0 4.167%;
	padding-top: 3em;
	@media screen and (min-width: 425px) {
		margin: 0 8.33%;
	}
}

.post-meta__back {

}

.post-meta__title {
	font-family: $prohibition;
	font-size: 2.5rem;
}

.blog-post__author {

}

.post-meta__date {

}

.post-meta__tags {
	display: flex;
	align-items: center;
}

.post-meta__tags-list {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.post-meta__tag {
	margin: 0 .5em;
	padding: .5em 1em;
	color: red;
	border: 2px solid red;
}

.post__content {
	margin: 0 4.167%;
	padding-bottom: 3em;
	font-family: $eaves-narrow;
	line-height: 1.5;
	@media screen and (min-width: 425px) {
		margin: 0 8.33%;
	}
	h2 {
		font-family: $prohibition;
	}
}