.post__metadata {
	margin: 0 4.167%;
	padding-top: 3em;
	@media screen and (min-width: 425px) {
		margin: 0 8.33%;
	}
}

.post-meta__back {

}

.post-meta__title {
	font-family: $playfair;
	font-weight: 900;
}

.blog-post__author {

}

.post-meta__date {

}

.post-meta__tags {

}

.post-meta__tag {

}

.post__content {
	margin: 0 4.167%;
	padding-bottom: 3em;
	@media screen and (min-width: 425px) {
		margin: 0 8.33%;
	}
}